@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
  height: 0px;
}

.hide-scrollbar {
  scrollbar-width: none;
}

@layer components {
  .nav-link {
    @apply relative text-[#e1e1e1] font-bold
           transition-colors duration-300
           hover:text-[#2b7ced]
           after:content-['']
           after:absolute after:left-0 after:-bottom-1
           after:w-0 after:h-[2px]
           after:bg-[#2b7ced]
           after:transition-all after:duration-300
           hover:after:w-full;
  }

  .nav-link-active {
    @apply text-[#2b7ced]
           after:w-full;
  }
}

@layer components {

  .btn-primary {
    @apply px-10 py-2 font-bold  bg-[#4d79d7]
           transition-all duration-300
           hover:bg-[#3b66c4]
           hover:-translate-y-[2px]
           hover:shadow-[0_10px_30px_rgba(77,121,215,0.45)]
           active:translate-y-0;
  }

  .btn-outline {
    @apply relative px-10 py-2 font-bold
           border border-[#4d79d7] text-[#2b7ced]
           overflow-hidden transition-colors duration-300;
  }

  .btn-outline::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #4d79d7;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: 0;
  }

  .btn-outline:hover::before {
    transform: scaleX(1);
  }

  .btn-outline span {
    position: relative;
    z-index: 1;
  }

  .btn-outline:hover {
    color: #fff;
  }
}

@layer components {
  .hover-lift {
    @apply transition-all duration-300
           hover:-translate-y-2
           hover:shadow-[0_20px_60px_rgba(0,0,0,0.6)];
  }
}